<!DOCTYPE html>
<html>
<head>
	<title>Photos</title>

		<script src="https://use.fontawesome.com/da7663fed7.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

	<script src="../js/scripts.js" type="text/JavaScript"></script>
</head>
<body>
<p>Upper nav bar</p>
<div class="container">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
        			<li><a href="mypage.html">My Page</a></li>
        			<li><a href="about.html">About</a></li>
        			<li><a href="programs.html">Programs</a></li>
        			<a class="navbar-brand" href="../index.html">
        				<img id="nav-logo" class=".image-responsive" alt="Logo" src="../images/logo.png">
        			</a>
        			<li><a href="photos.html">Photos</a></li>
        			<li><a href="videos.html">Videos</a></li>
        			<li><a href="contact.html">Contact</a></li>
        		</ul>
        	</div>
		</div>
	</nav>

		
		<div id="myModal" class="modal">
			<span class="close">x</span>
			<img class="modal-content" id="img01">
			<div id="caption"></div>
		</div>

		<div class="row" id="row1">
			<div class="col-md-3">
				<img class="thumbnail" src="http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/images/186/card/34cf3db82e534bb79d13b484bd888c16.jpg" alt="Blackbelt" id="blackbelt">
				<caption>Blackbelt</caption>
				</img>
			</div>
			<div class="col-md-3">	
				<img class="thumbnail" src="http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/images/186/card/86b392fe56af4efeb2c6baf3fd737825.jpg" alt="Breaking" id="breaking">
				<caption>Breaking</caption>
			</div>
			<div class="col-md-6">
				<div id="phototitle">Our studio in action</div>
			</div>
		</div>
		<div class="row" id="row2">
			<div class="col-md-3">
				<img class="thumbnail" src="http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/images/186/card/d9a23e314bba41c2a68c786620b8f916.jpg" alt="Blackbest Test" id="bbelttest">
				<caption>Black Belt Test</caption>
			</div>
			<div class="col-md-3">
				<img class="thumbnail" src="http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/images/186/card/fab0f14d662f46dd862875b570121988.jpg" alt="Sparring" id="sparring">
				<caption>Sparring</caption>
			</div>
		</div>
		<div class="row" id="row3">
			<div class="col-md-3">
				<img class="thumbnail" src="http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/images/186/
				card/9c0b4fefab9e48f0b0c95acae0bd6654.jpg" alt="Memorial Day" id="memday">
				<caption>Memorial Day</caption>
			</div>
		</div>

</div>
<p>Lower nav bar</p>


</body>
</html>